<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <div class="messages-container"></div>
    <input class="message-input">
    <btn class="message-send">SEND MESSAGE</btn>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        socket.emit('joinroom',{otheruser:'j'})
        socket.on('connected-room',(data)=>{
            console.log(data)
        })
    </script>
</body>
</html>